body {
  margin: 0;
}
.nav {
  color: white;
  background-color: #276678;
  box-shadow: 5px 5px 4px #1687a7;
}
.navP {
  margin: 0;
  padding: 10px;
  text-align: right;
  text color: Black;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Courgette', cursive;
  text-decoration: none;
}
.base {
  text-align: center;
  padding-bottom: 10px;
}
.baseH1 {
  font-family: 'Lalezar', cursive;
  font-size: 3rem;
  text-shadow: 2px 2px #1687a7;
}
.baseBN {
  font-family: 'Lalezar', cursive;
  font-size: 1.5rem;
  padding: 0px 20px;
  cursor: pointer;
  border-style: solid;
  border-color: #276678;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #1687a7;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}
.baseBN:hover {
  background-color: #276678;
  color: white;
}
.work {
  font-family: 'Lalezar', cursive;
  padding: 10px;
  text-align: center;
  display: flex;
}
.workDiv {
  margin: auto;
  padding: 5px;
  width: 50%;
}
.white {
  width: 50%;
  height: 60%;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 10px;
}
.green {
  border-color: #276678;
}
.red {
  border-color: red;
}

h1 {
  font-family: 'Lalezar', cursive;
  text-shadow: 2px 2px #1687a7;
}
@media screen and (max-width: 700px) {
  .work {
    display:block;
  }
  .workDiv {
    width: 90%;
  }
}
.l{
    text-decoration: none;
    text-align: center;
    font-size: 2.2rem
}
